table,td,th{
    padding: 10px;
    border: 1px solid #c4dcf3;
    border-left: 0;
    border-right: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

th{
    background-color: #427fef;
    color: #fff;
    text-align: left;
}


tr:nth-child(odd){
    background-color: #eef7ff;

}

tfoot{
    background-color: #427fef;
    
}

